@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* GLOBAL STYLES */
html,
body {
  @apply scroll-smooth font-poppins;
}

body {
  @apply bg-white;
}

/* CONTAINER STYLE */
.container {
  @apply m-6;
}

.container__section {
  @apply pt-10 pl-6 pr-6;
}

/* Button styles */
.btn__basic {
  @apply rounded-3xl pt-2 pb-2 pl-6 pr-6 text-base font-medium md:text-lg lg:text-lg;
}

.btn__default {
  @apply rounded-full p-4 font-medium text-white;
}

/* Headings styles */

.h1 {
  @apply text-4xl font-bold;
}

.h1__white {
  @apply text-4xl font-bold text-white;
}

.h2 {
  @apply text-3xl font-bold text-black;
}

.heading__3 {
  @apply text-xl font-bold text-black;
}

.heading__4 {
  @apply text-lg font-semibold text-black;
}

.p__default {
  @apply text-lg;
}

/* Parahraph styles */
.p__white {
  @apply text-lg font-medium text-white;
}

/* Link styles */
.link__menu {
  @apply rounded-xl pr-4 pl-4 pt-1 pb-1 text-4xl font-normal;
}

.link__menu__desktop {
  @apply text-lg font-medium text-white underline-offset-4 hover:underline hover:transition-all hover:duration-300 lg:text-xl;
}

.link__logo {
  @apply text-4xl font-extrabold text-white;
}

.link__active {
  @apply rounded-xl bg-white text-black;
}

/* Overlay styles */
.overlay__default {
  @apply fixed top-0 right-0 left-0 bottom-0 z-30 bg-black/60 blur-sm;
}

.overlay__primary {
  @apply fixed top-0 right-0 left-0 bottom-0 z-30 bg-primary-yellow;
}

/* Icons styles */
.icon__default {
  @apply text-6xl;
}

/* Form styles */
.label__default {
  @apply text-lg font-semibold;
}

.input__default {
  @apply border-b-2 border-black bg-transparent p-2 focus:border-b-4 focus:bg-primary-gray focus:outline-none active:bg-slate-400;
}

.input__textarea {
  @apply border-b-2 border-black bg-transparent p-2 focus:border-b-4 focus:bg-primary-gray focus:outline-none;
}

/* Other styles */
.active__tab {
  @apply border-b-2 border-black bg-primary-yellow pt-1 pb-1 pr-6 pl-6 font-semibold;
}

.active__tab__special {
  @apply border-b-2 border-black font-semibold;
}

.tab__default {
  @apply cursor-pointer pt-1 pb-1 pr-6 pl-6 hover:bg-primary-yellow;
}

.tab__special {
  @apply rounded-full bg-primary-bg pt-2 pb-2 pr-6 pl-6 font-medium;
}

.tab__product {
  @apply cursor-pointer pt-1 pb-1 pr-6 pl-6 hover:bg-primary-yellow;
}

/* Hide scrollbars */
/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Responsive font */
.h1__responsive {
  @apply text-4xl xl:text-5xl 2xl:text-6xl;
}

.h2s__responsive {
  @apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl;
}

.h2__responsive {
  @apply text-2xl md:text-3xl lg:text-4xl;
}

.h3__responsive {
  @apply text-xl lg:text-2xl xl:text-3xl;
}

.h4__responsive {
  @apply text-lg lg:text-xl xl:text-2xl;
}

.p__responsive {
  @apply text-base md:text-lg lg:text-lg xl:text-xl;
}

.tab__responsive {
  @apply text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-2xl;
}

/* GLOBAL */
button {
  -webkit-tap-highlight-color: transparent;
}
